In [37]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [38]:
# Set up the database connection
engine = create_engine("sqlite:///../reddit_posts.db")

In [39]:
# Read table
df = pd.read_sql("posts", engine)
df.head()

,id,subreddit,title,selftext,created_utc
0,1llbny8,Gold,Some gold at my shop,Do yall think this is a fair price?,1750971916
1,1llbar3,Gold,Seams in Link Chains,Are seams in these interior of link chains nor...,1750971028
2,1llauj7,Gold,NEW GOLD DAY,My first maple leaf. 2022 1/10 ounce.\n\nPrett...,1750969947
3,1llan5e,Gold,Lost my tiny stack in an unfortunate boating a...,,1750969459
4,1llaild,Gold,NEED SOME HELP,[Is 1g of 24k gold enough to make a small lock...,1750969159

In [40]:
# Read in cleaned data
df_cleaned = pd.read_sql("posts_clean", engine, parse_dates=["date"])
df_cleaned.head()

,id,subreddit,title,selftext,date
0,1llbny8,Gold,Some gold at my shop,Do yall think this is a fair price?,2025-06-26
1,1llbar3,Gold,Seams in Link Chains,Are seams in these interior of link chains nor...,2025-06-26
2,1llauj7,Gold,NEW GOLD DAY,My first maple leaf. 2022 1/10 ounce.\n\nPrett...,2025-06-26
3,1llan5e,Gold,Lost my tiny stack in an unfortunate boating a...,,2025-06-26
4,1llaild,Gold,NEED SOME HELP,[Is 1g of 24k gold enough to make a small lock...,2025-06-26

In [43]:
gold = pd.read_sql("gold", engine)
gold.head()

        date        Close         High          Low         Open  Volume
0 2023-06-26  1923.699951  1928.500000  1922.500000  1922.900024      71
1 2023-06-27  1914.000000  1929.400024  1914.000000  1927.000000      49
2 2023-06-28  1912.300049  1912.300049  1912.300049  1912.300049     628
3 2023-06-29  1909.199951  1909.900024  1892.500000  1909.900024     289
4 2023-06-30  1921.099976  1921.099976  1900.599976  1908.599976     445